/*背景*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "MedievalSharp", sans-serif !important;
  background: linear-gradient(to bottom, #1A1B2E, #2B1B45);
  overflow: hidden;
}

.light {
  position: absolute;
  bottom: 0;
  width: 7px;
  height: 7px;
  background-color: #8065a4;
  border-radius: 50%;
  opacity: 0;
  animation: rise linear infinite;
}

@keyframes rise {
  0% {
    transform: translateY(10vh);
    opacity: 0;
  }
  20% {
    opacity: 0.3;
  }
  50%{
    opacity: 0.7;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/*タイトルcss*/

.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vmin;
text-align: center;
}

.wand {
  color: white;
  width: 6vw;
  height: auto;
  margin-bottom: 0.1vh;
}

.title {
font-size: 5vw;/* 80px */
margin-top: 4.5vh;
margin-bottom: 0.2vh;/* 5px */
}

.subtitle {
font-size: 2.5vw;/* 40px */
color: #9F86C0;
margin-top: 1.6vh;
margin-bottom: 7vh; /* 5px */
}

.spell-button {
/* font-family: "MedievalSharp", sans-serif !important; */
border: solid 1px #9F86C0;
background-color: #5E2F8F;
padding: 2.8vh 3vw;/*22px 50px; */
font-size: 2.2vw;    
color: white;
border-radius: 5vw; 
}

.spell-button:hover {
background-color: #694293;
}

/* メインCSS */
.work-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
z-index: 5; 
}

.work-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 14vh;
  padding-bottom: 0.5vh;  /* 下部の余白を少なくする */
}

.work-title {
  font-size: 5.6vw;
  margin:auto;
}

.work-subtitle {
  font-size: 2.8vw;
  color: #9F86C0;
}

.timer-container {
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0.5vh;  /* 下の余白を減らすために gap を減少 */
padding-bottom: 0.5vh;  /* 下部の余白を少なくする */
}

.timer-display {
display: flex;
align-items: center;
gap: 2vw;
}

.time-section {
display: flex;
flex-direction: column;
align-items: center;
}

.time-label {
font-size: 1.25vw;
margin-top: 2vh;
}

.time-box {
width: 11vw;
height: 11vw;
border-radius: 1.5vw;
display: flex;
align-items: center;
justify-content: center;
border: 0.1vw solid white;
}

.time-value {
font-size: 5vw;
}

.separator {
font-size: 5.6vw;
margin-bottom: 6vh;
}

.controls {
display: flex;
justify-content: center;
gap: 1vw;
margin-top: 6vh;
}

.control-button {
  background-color: #343341;
  border: solid 1px rgba(159,134,192,0.3);
  width: 23vw;
  height: 17vh;
  border-radius: 1.5vw;
  color: white;
  display: flex;
  align-items: center; /* アイコンとテキストを縦方向に並べるため */
  justify-content: flex-start; /* 左側に配置 */
  box-sizing: border-box; /* 内部のパディングやボーダーもサイズに含める */
  gap: 0.3vw;
  padding: 2.2vh 2.3vw;
}

.button-icon {
  font-size: 4vw;
  border-radius: 1.5vw;
  width: 4.5vw;
  height: 4.5vw;
  background-color: #23232E;
  border: solid 1px rgba(0,0,0,0.1);
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5vw; /* アイコンとテキストの間隔を調整 */
}

.button-text {
  font-size: 1.7vw;
  margin-top: 0.5vh;  /* アイコンとの間隔調整 */
  white-space: normal;  /* 文字列が長い場合、折り返しを許可 */
  word-wrap: break-word; /* 長い単語があれば折り返し */
  line-height: 1.2; /* 行間の調整 */
}

.button-subtext {
  font-size: 1.4vw;
  color: #9ca3af;
  margin-top: 0.5vh;  /* テキストとサブテキストの間隔調整 */
  white-space: normal;  /* 文字列が長い場合、折り返しを許可 */
  word-wrap: break-word; /* 長い単語があれば折り返し */
  flex-direction: row;
}

.control-text {
  display: flex;
  flex-flow: column;
}
.control-button span {
  word-wrap: break-word; /* 必要に応じて折り返す */
  overflow: hidden; /* はみ出しを防ぐ */
}

.reset-icon {
color: #FF4757;
}

.stop-icon {
color: #FFD32A;  
}

.start-icon {
color: #2ED573;
}

.play-pause-icon {
color: #facc15;
}

/* アラームcss */ 
.alerm-back {
  overflow: hidden; 
}
.alerm-img {
  position: absolute;
}

.alermspell-container{
text-align: center;
position: absolute;
top: 40%;
width: 100%;
z-Index: 10;
}

.alerm-text {
font-size: 6vw;
color: red;
}

.alerm-subtext {
font-size: 3vw;
}