/*背景*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "MedievalSharp", sans-serif !important;
  background: linear-gradient(to bottom, #1A1B2E, #2B1B45);
}

/*タイトルcss*/

.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vmin;
text-align: center;
}

.wand {
color: white;
width: 7vw;
height: auto;
}

.title {
font-size: 5vw;/* 80px */
margin: 0.5vh 0;/* 5px */
}

.subtitle {
font-size: 2.5vw;/* 40px */
color: #9F86C0;
margin-top: 0.5vh; /* 5px */
}

.spell-button {
/* font-family: "MedievalSharp", sans-serif !important; */
border: solid 1px #9F86C0;;
background-color: #5E2F8F;
padding: 2.8vh 3vw;/*22px 50px; */
font-size: 2.2vw;    
color: white;
border-radius: 5vw; 
}

.spell-button:hover {
background-color: #694293;
}

/* メインCSS */

.header {
width: 100%;
padding: 2vh;
display: flex;
align-items: center;
font-size: 1.2vw;
}

.headerlogo {
width: 3vw;
height: 3vw;
margin-right: 1vw;
} 


.timer-container {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5vh;
}

.timer-display {
display: flex;
align-items: center;
gap: 4vw;
}

.time-section {
display: flex;
flex-direction: column;
align-items: center;
}

.time-label {
font-size: 2.5vw;
margin-bottom: 1vh;
}

.time-box {
width: 17vw;
height: 17vw;
border-radius: 1.5vw;
display: flex;
align-items: center;
justify-content: center;
border: 0.2vw solid white;;
}

.time-value {
font-size: 8vw;
}

.separator {
font-size: 11vw;
margin-top: 1.8vh;
}

.controls {
display: flex;
justify-content: center;
gap: 18vw;
margin-top: 8vh;
}

.control-button {
background-color: #343341;
width: 16vw;
height: 18vw;
border-radius: 1.5vw;
border: none;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 1vh;
}

.button-icon {
font-size: 4vw;
border-radius: 1.5vw;
width: 6vw;
height: 6vw;
background-color: #23232E;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 1vh;
}

.reset-icon {
color: #FF4757;
}

.stop-icon {
color: #FFD32A;  
}

.start-icon {
color: #2ED573;
}

.play-pause-icon {
color: #facc15;
}

.button-text {
font-size: 2.3vw;
}

.button-subtext {
font-size: 1.7vw;
color: #9ca3af;
}

/* アラームcss */ 
.alerm-back {
  overflow: hidden; 
}
.alerm-img {
  position: absolute;
}

.alermspell-container{
text-align: center;
position: absolute;
top: 40%;
width: 100%;
z-Index: 10;
}

.alerm-text {
font-size: 6vw;
color: red;
}

.alerm-subtext {
font-size: 3vw;
}